
.Header {
  width: 100%;
  background-color: white;
  min-height: 8vh;

  display: flex;
  flex-direction: row;
  place-content: space-between;
}
.img-container {
  margin: auto;
  >img {
    margin: auto 20px;
    height: 6vmin;
  }
  :hover {
    cursor: pointer;
  }
}
.text-logo {
  width: 100%;
  text-align: left;
  align-self: center;
  margin-left: 16px;
}
.btn-container {
  margin: auto 20px ; 
}
