
.Header {
  width: 100%;
  background-color: white;
  min-height: 8vh;

  display: flex;
  flex-direction: row;
  place-content: space-between;

  >img {
    margin: auto 20px;
    height: 6vmin;
  }
  .btn-container {
    margin: auto 40px ; 
  }
}