
.Header {
  width: 100%;
  background-color: white;
  min-height: 8vh;

  display: flex;
  flex-direction: row;
  place-content: space-between;
}
.img-container {
  >img {
    margin: auto 20px;
    height: 6vmin;
  }
  :hover {
    cursor: pointer;
  }
}
.btn-container {
  margin: auto 20px ; 
}
